/* Write your CSS here */
.list-value {
  display: flex;
  margin-bottom: 10px;
  list-style-type: none;
}
.button {
  background-color: #585076;
  height: 40px;
  width: 200px;
  color: #d4d2db;
  border: 1px solid #c4c4c4;
  font-size: 24px;
  border-radius: 5px;
}
